{% extends "base.html" %}
{% load static %}

{% block body %}
{% if all_food.slug == 'home-food-tenerife-food-drink-guide-10-things-to-try-in-tenerife'  %}
<title>{{all_food.tilte}}</title>

    <div class="site-wrap" id="home-section">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <div class="block__73694 site-section border-top" id="why-us-section">
        <div class="container">
          <div class="row d-flex no-gutters align-items-stretch">
            <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image:" data-aos="fade-left" data-aos-delay="">
            <h5>Published on {{all_food.create}}</h5>
             <img src="{{all_food.img1.url}}" width=500px>
            </div>
            <div class="col-lg-5 mr-auto p-lg-9 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
              <h2 class="mb-4 text-black">{{all_food.tilte}}</h2>
              <h4 class="text-primary">{{all_food.tilte2}}</h4>
              <p>{{all_food.contant1}}</p>
              <br>
              <h4 class="mb-4 text-black">{{all_food.tilte3}}</h4>
              <p>{{all_food.contant2}}</p>
              <br>
              <h4 class="mb-4 text-black">{{all_food.tilte4}}</h4>
              <p>{{all_food.contant3}}</p>
              <br>
              <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
               <img src="{{all_food.img2.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte1_image}}</font></img>
              </div>
              <br>
                <h4 class="mb-4 text-black">{{all_food.tilte5}}</h4>

                  <p>{{all_food.contant5}}</p>
                  <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                   <img src="{{all_food.img3.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte2_image}}</font></img>
                  </div>
                  <br>
                  <h4> {{all_food.tilte6}}</h4>
                    <p>{{all_food.contant6}}</p>
                    <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                     <img src="{{all_food.img4.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte3_image}}</font></img>
                    </div>
                    <br>
                    <h4> {{all_food.tilte7}}</h4>
                      <p>{{all_food.contant7}}</p>
                      <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                       <img src="{{all_food.img5.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte4_image}}</font></img>
                      </div>
                      <br>
                      <h4> {{all_food.tilte8}}</h4>
                        <p>{{all_food.contant8}}</p>
                        <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                         <img src="{{all_food.img6.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte5_image}}</font></img>
                        </div>
                        <br>
                        <h4> {{all_food.tilte9}}</h4>
                          <p>{{all_food.contant9}}</p>
                          <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                           <img src="{{all_food.img7.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte6_image}}</font></img>
                          </div>
                          <br>
                          <h4> {{all_food.tilte10}}</h4>
                            <p>{{all_food.contant10}}</p>
                            <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                             <img src="{{all_food.img8.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte7_image}}</font></img>
                            </div>
                            <br>
                            <h4> {{all_food.tilte11}}</h4>
                              <p>{{all_food.contant11}}</p>
                              <br>
                              <h4> {{all_food.tilte12}}</h4>
                                <p>{{all_food.contant12}}</p>
                              <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                               <img src="{{all_food.img9.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte8_image}}</font></img>
                        </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  {% endif %}
  {% if all_food.slug == 'rome-food-and-drink-guide-10-things-to-try-in-rome-italy'  %}
  <title>{{all_food.tilte}}</title>
      <div class="site-wrap" id="home-section">
        <div class="site-mobile-menu site-navbar-target">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div>
        <div class="block__73694 site-section border-top" id="why-us-section">
          <div class="container">
            <div class="row d-flex no-gutters align-items-stretch">
              <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image:" data-aos="fade-left" data-aos-delay="">
              <h5>Published on {{all_food.create}}</h5>
               <img src="{{all_food.img1.url}}" width=500px>
              </div>
              <div class="col-lg-5 mr-auto p-lg-9 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
                <h2 class="mb-4 text-black">{{all_food.tilte}}</h2>
                <h4 class="text-primary">{{all_food.tilte2}}</h4>
                <p>{{all_food.contant1}}</p>
                <br>
                <h4 class="mb-4 text-black">{{all_food.tilte3}}</h4>
                <p>{{all_food.contant2}}</p>
                <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                 <img src="{{all_food.img2.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte1_image}}</font></img>
                </div>
                <br
                <h4 class="mb-4 text-black">{{all_food.tilte4}}</h4>
                <p>{{all_food.contant3}}</p>
                <br>
                <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                 <img src="{{all_food.img3.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte2_image}}</font></img>
                </div>
                <br>
                  <h4 class="mb-4 text-black">{{all_food.tilte5}}</h4>

                    <p>{{all_food.contant5}}</p>
                    <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                     <img src="{{all_food.img4.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte3_image}}</font></img>
                    </div>
                    <br>
                    <h4> {{all_food.tilte6}}</h4>
                      <p>{{all_food.contant6}}</p>

                      <br>
                      <h4> {{all_food.tilte7}}</h4>
                        <p>{{all_food.contant7}}</p>
                        <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                         <img src="{{all_food.img5.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte4_image}}</font></img>
                        </div>
                        <br>
                        <h4> {{all_food.tilte8}}</h4>
                          <p>{{all_food.contant8}}</p>
                          <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                           <img src="{{all_food.img2.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte1_image}}</font></img>
                          </div>
                          <br>
                          <h4> {{all_food.tilte9}}</h4>
                            <p>{{all_food.contant9}}</p>

                            <br>
                            <h4> {{all_food.tilte10}}</h4>
                              <p>{{all_food.contant10}}</p>
                              <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                               <img src="{{all_food.img7.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte6_image}}</font></img>
                              </div>
                              <br>
                              <h4> {{all_food.tilte11}}</h4>
                                <p>{{all_food.contant11}}</p>
                                <br>
                                <h4> {{all_food.tilte12}}</h4>
                                  <p>{{all_food.contant12}}</p>
                                <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                 <img src="{{all_food.img8.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte7_image}}</font></img>
                          </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    {% endif %}
    {% if all_food.slug == 'athens-food-drink-guide-10-things-to-try-in-athens-greece'  %}
    <title>{{all_food.tilte}}</title>
        <div class="site-wrap" id="home-section">
          <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
              <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
              </div>
            </div>
            <div class="site-mobile-menu-body"></div>
          </div>
          <div class="block__73694 site-section border-top" id="why-us-section">
            <div class="container">
              <div class="row d-flex no-gutters align-items-stretch">
                <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image:" data-aos="fade-left" data-aos-delay="">
                <h5>Published on {{all_food.create}}</h5>
                 <img src="{{all_food.img1.url}}" width=500px>
                </div>
                <div class="col-lg-5 mr-auto p-lg-9 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
                  <h2 class="mb-4 text-black">{{all_food.tilte}}</h2>
                  <h4 class="text-primary">{{all_food.tilte2}}</h4>
                  <p>{{all_food.contant1}}</p>
                  <br>
                  <h4 class="mb-4 text-black">{{all_food.tilte3}}</h4>
                  <p>{{all_food.contant2}}</p>
                  <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                   <img src="{{all_food.img2.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte1_image}}</font>
                  </div>
                  <br
                    <b><font color=black size="5">{{all_food.tilte4}}</font></b>
                    <br>
                    <br>
                  <p>{{all_food.contant3}}</p>
                  <br>
                  <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                   <img src="{{all_food.img3.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte2_image}}</font></img>
                  </div>
                  <br>
                    <h4 class="mb-4 text-black">{{all_food.tilte5}}</h4>

                      <p>{{all_food.contant5}}</p>
                      <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                       <img src="{{all_food.img4.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte3_image}}</font></img>
                      </div>
                      <br>
                      <h4> {{all_food.tilte6}}</h4>
                        <p>{{all_food.contant6}}</p>
                        <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                         <img src="{{all_food.img5.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte4_image}}</font></img>
                        </div>
                        <br>
                        <h4> {{all_food.tilte7}}</h4>
                          <p>{{all_food.contant7}}</p>
                          <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                           <img src="{{all_food.img6.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte5_image}}</font></img>
                          </div>
                          <br>
                          <h4> {{all_food.tilte8}}</h4>
                            <p>{{all_food.contant8}}</p>
                            <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                             <img src="{{all_food.img7.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte6_image}}</font></img>
                            </div>
                            <br>
                            <h4> {{all_food.tilte9}}</h4>
                              <p>{{all_food.contant9}}</p>
                              <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                               <img src="{{all_food.img8.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte7_image}}</font></img>
                              <br>
                              <h4> {{all_food.tilte10}}</h4>
                                <p>{{all_food.contant10}}</p>
                                <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                 <img src="{{all_food.img9.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte8_image}}</font></img>
                                 <br>
                                <br>
                                <h4> {{all_food.tilte11}}</h4>
                                  <p>{{all_food.contant11}}</p>
                                  <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                   <img src="{{all_food.img10.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte9_image}}</font></img>
                                    </div>
                                    <br>
                                  <h4> {{all_food.tilte12}}</h4>
                                    <p>{{all_food.contant12}}</p>
                                  <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                   <img src="{{all_food.img11.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte10_image}}</font></img>
                                   </div>
                                   <br>
                            </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      {% endif %}
      {% if all_food.slug == 'merry-christmas'  %}
      <title>{{all_food.tilte}}</title>
          <div class="site-wrap" id="home-section">
            <div class="site-mobile-menu site-navbar-target">
              <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                  <span class="icon-close2 js-menu-toggle"></span>
                </div>
              </div>
              <div class="site-mobile-menu-body"></div>
            </div>
            <div class="block__73694 site-section border-top" id="why-us-section">
              <div class="container">
                <div class="row d-flex no-gutters align-items-stretch">
                  <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image:" data-aos="fade-left" data-aos-delay="">
                  <h5>Published on {{all_food.create}}</h5>
                   <img src="{{all_food.img1.url}}" width=500px>
                  </div>
                  <br>
                  <div class="col-lg-5 mr-auto p-lg-9 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
                    <h2 class="mb-4 text-black">{{all_food.tilte}}</h2>
                    <h4 class="text-primary">{{all_food.tilte2}}</h4>
                    <p>{{all_food.contant1}}</p>
                    <br>

                </div>
              </div>
            </div>
          </div>
          </div>
        {% endif %}


        {% if all_food.slug == 'budapest-food-drink-guide-10-things-to-try-in-budapest'  %}

        <title>{{all_food.tilte}}</title>
            <div class="site-wrap" id="home-section">
              <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                  <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                  </div>
                </div>
                <div class="site-mobile-menu-body"></div>
              </div>
              <div class="block__73694 site-section border-top" id="why-us-section">
                <div class="container">
                  <div class="row d-flex no-gutters align-items-stretch">
                    <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image:" data-aos="fade-left" data-aos-delay="">
                    <h5>Published on {{all_food.create}}</h5>
                     <img src="{{all_food.img1.url}}" width=500px>
                    </div>
                    <div class="col-lg-5 mr-auto p-lg-9 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
                      <h2 class="mb-4 text-black">{{all_food.tilte}}</h2>
                      <h4 class="text-primary">{{all_food.tilte2}}</h4>
                      <p>{{all_food.contant1}}</p>
                      <br>
                      <h4 class="mb-4 text-black">{{all_food.tilte3}}</h4>
                      <p>{{all_food.contant2}}</p>
                      <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                       <img src="{{all_food.img2.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte1_image}}</font></img>
                      </div>
                      <br>
                      <h4 class="mb-4 text-black">{{all_food.tilte4}}</h4>
                      <p>{{all_food.contant3}}</p>
                      <br>
                      <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                       <img src="{{all_food.img3.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte2_image}}</font></img>
                      </div>
                      <br>
                        <h4 class="mb-4 text-black">{{all_food.tilte5}}</h4>

                          <p>{{all_food.contant5}}</p>
                          <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                           <img src="{{all_food.img4.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte3_image}}</font></img>
                          </div>
                          <br>
                          <h4> {{all_food.tilte6}}</h4>
                            <p>{{all_food.contant6}}</p>
                            <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                             <img src="{{all_food.img5.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte4_image}}</font></img>
                            </div>

                            <br>
                            <h4> {{all_food.tilte7}}</h4>
                              <p>{{all_food.contant7}}</p>
                              <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                               <img src="{{all_food.img6.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte5_image}}</font></img>
                              </div>
                              <br>
                              <h4> {{all_food.tilte8}}</h4>
                                <p>{{all_food.contant8}}</p>

                                <br>
                                <h4> {{all_food.tilte9}}</h4>
                                  <p>{{all_food.contant9}}</p>
                                  <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                   <img src="{{all_food.img7.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte6_image}}</font></img>
                                  </div>
                                  <br>
                                  <h4> {{all_food.tilte10}}</h4>
                                    <p>{{all_food.contant10}}</p>

                                    <br>
                                    <h4> {{all_food.tilte11}}</h4>
                                      <p>{{all_food.contant11}}</p>
                                      <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                       <img src="{{all_food.img8.url}}" width=500px alt=""><font color="Purple">{{all_food.tilte7_image}}</font></img>
                                      </div>
                                      <br>
                                      <h4> {{all_food.tilte12}}</h4>
                                        <p>{{all_food.contant12}}</p>

                  </div>
                </div>
              </div>
            </div>
            </div>
          {% endif %}


          {% if all_drink.slug == 'christmas-special-mulled-wine'  %}

          <title>{{all_drink.tilte}}</title>
              <div class="site-wrap" id="home-section">
                <div class="site-mobile-menu site-navbar-target">
                  <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                      <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                  </div>
                  <div class="site-mobile-menu-body"></div>
                </div>
                <div class="block__73694 site-section border-top" id="why-us-section">
                  <div class="container">
                    <div class="row d-flex no-gutters align-items-stretch">
                      <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image:" data-aos="fade-left" data-aos-delay="">
                      <h5>Published on {{all_drink.create}}</h5>
                       <img src="{{all_drink.img1.url}}" width=500px>
                      </div>
                      <div class="col-lg-5 mr-auto p-lg-9 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
                        <h2 class="mb-4 text-black">{{all_drink.tilte}}</h2>
                        <h4 class="text-primary">{{all_drink.tilte2}}</h4>
                        <p>{{all_drink.contant1}}</p>
                        <br>
                        <h4 class="mb-4 text-black">{{all_drink.tilte3}}</h4>
                        <p>{{all_drink.contant2}}</p>
                        <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                         <img src="{{all_drink.img2.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte1_image}}</font></img>
                        </div>
                        <br>
                        <h4 class="mb-4 text-black">{{all_drink.tilte4}}</h4>
                        <p>{{all_drink.contant3}}</p>
                        <br>

                        <br>
                          <h4 class="mb-4 text-black">{{all_drink.tilte5}}</h4>

                            <p>{{all_drink.contant5}}</p>
                            <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                             <img src="{{all_drink.img3.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte2_image}}</font></img>
                            </div>
                            <br>
                            <h4> {{all_drink.tilte6}}</h4>
                              <p>{{all_drink.contant6}}</p>


                              <br>
                              <h4> {{all_drink.tilte7}}</h4>
                                <p>{{all_drink.contant7}}</p>


                    </div>
                  </div>
                </div>
              </div>
              </div>
            {% endif %}


            {% if all_drink.slug == 'thai-wine-a-remarkable-success-story'  %}

            <title>{{all_drink.tilte}}</title>
                <div class="site-wrap" id="home-section">
                  <div class="site-mobile-menu site-navbar-target">
                    <div class="site-mobile-menu-header">
                      <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                      </div>
                    </div>
                    <div class="site-mobile-menu-body"></div>
                  </div>
                  <div class="block__73694 site-section border-top" id="why-us-section">
                    <div class="container">
                      <div class="row d-flex no-gutters align-items-stretch">
                        <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image:" data-aos="fade-left" data-aos-delay="">
                        <h5>Published on {{all_drink.create}}</h5>
                         <img src="{{all_drink.img1.url}}" width=500px>
                        </div>
                        <div class="col-lg-5 mr-auto p-lg-9 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
                          <h2 class="mb-4 text-black">{{all_drink.tilte}}</h2>
                          <h4 class="text-primary">{{all_drink.tilte2}}</h4>
                          <p>{{all_drink.contant1}}</p>
                          <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                           <img src="{{all_drink.img2.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte1_image}}</font></img>
                          </div>
                          <br>
                          <h4 class="mb-4 text-black">{{all_drink.tilte3}}</h4>
                          <p>{{all_drink.contant2}}</p>

                          <br>
                          <h4 class="mb-4 text-black">{{all_drink.tilte4}}</h4>
                          <p>{{all_drink.contant3}}</p>
                          <br>

                          <br>
                            <h4 class="mb-4 text-black">{{all_drink.tilte5}}</h4>

                              <p>{{all_drink.contant5}}</p>

                              <br>
                              <h4> {{all_drink.tilte6}}</h4>
                                <p>{{all_drink.contant6}}</p>


                                <br>
                                <h4> {{all_drink.tilte7}}</h4>
                                  <p>{{all_drink.contant7}}</p>
                                  <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                   <img src="{{all_drink.img3.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte2_image}}</font></img>
                                  </div>
                                  <br>
                                  <h4> {{all_drink.tilte8}}</h4>
                                  <p>{{all_drink.contant8}}</p>
                                  <br>
                                  <h4> {{all_drink.tilte9}}</h4>
                                  <p>{{all_drink.contant9}}</p>
                                  <br>
                                  <h4> {{all_drink.tilte10}}</h4>
                                  <p>{{all_drink.contant10}}</p>
                                  <br>
                                  <h4> {{all_drink.tilte11}}</h4>
                                  <p>{{all_drink.contant11}}</p>
                                  <br>
                                  <h4> {{all_drink.tilte12}}</h4>
                                  <p>{{all_drink.contant12}}</p>
                                  <br>
                                  <h4> {{all_drink.tilte13}}</h4>
                                  <p>{{all_drink.contant13}}</p>
                                  <br>
                                  <h4> {{all_drink.tilte14}}</h4>
                                  <p>{{all_drink.contant14}}</p>
                                  <br>
                                  <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                   <img src="{{all_drink.img4.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte3_image}}</font></img>
                                  </div>
                                  <br>


                      </div>
                    </div>
                  </div>
                </div>
                </div>
              {% endif %}

              {% if all_drink.slug == 'which-glass-do-i-serve-which-wine-in'  %}

              <title>{{all_drink.tilte}}</title>
                  <div class="site-wrap" id="home-section">
                    <div class="site-mobile-menu site-navbar-target">
                      <div class="site-mobile-menu-header">
                        <div class="site-mobile-menu-close mt-3">
                          <span class="icon-close2 js-menu-toggle"></span>
                        </div>
                      </div>
                      <div class="site-mobile-menu-body"></div>
                    </div>
                    <div class="block__73694 site-section border-top" id="why-us-section">
                      <div class="container">
                        <div class="row d-flex no-gutters align-items-stretch">
                          <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image:" data-aos="fade-left" data-aos-delay="">
                          <h5>Published on {{all_drink.create}}</h5>
                           <img src="{{all_drink.img1.url}}" width=500px>
                          </div>
                          <div class="col-lg-5 mr-auto p-lg-9 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
                            <h2 class="mb-4 text-black">{{all_drink.tilte}}</h2>
                            <h4 class="text-primary">{{all_drink.tilte2}}</h4>
                            <p>{{all_drink.contant1}}</p>

                            <br>
                            <h4 class="mb-4 text-black">{{all_drink.tilte3}}</h4>
                            <p>{{all_drink.contant2}}</p>
                            <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                             <img src="{{all_drink.img2.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte1_image}}</font></img>
                            </div>
                            <br>
                            <br>
                            <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                             <img src="{{all_drink.img3.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte2_image}}</font></img>
                            </div>

                            <br>
                            <h4 class="mb-4 text-black">{{all_drink.tilte4}}</h4>
                            <p>{{all_drink.contant3}}</p>
                            <br>

                            <br>
                              <h4 class="mb-4 text-black">{{all_drink.tilte5}}</h4>

                                <p>{{all_drink.contant5}}</p>

                                <br>
                                <h4> {{all_drink.tilte6}}</h4>
                                  <p>{{all_drink.contant6}}</p>
                                  <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                   <img src="{{all_drink.img4.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte3_image}}</font></img>
                                  </div>


                                  <br>
                                  <h4> {{all_drink.tilte7}}</h4>
                                    <p>{{all_drink.contant7}}</p>
                                    <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                     <img src="{{all_drink.img5.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte4_image}}</font></img>
                                    </div>
                                    <br>
                                    <h4> {{all_drink.tilte8}}</h4>
                                    <p>{{all_drink.contant8}}</p>
                                    <br>
                                    <h4> {{all_drink.tilte9}}</h4>
                                    <p>{{all_drink.contant9}}</p>
                                    <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                     <img src="{{all_drink.img5.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte4_image}}</font></img>
                                    </div>
                                    <br>
                                    <h4> {{all_drink.tilte10}}</h4>
                                    <p>{{all_drink.contant10}}</p>
                                    <br>
                                    <h4> {{all_drink.tilte11}}</h4>
                                    <p>{{all_drink.contant11}}</p>
                                    <br>
                                    <h4> {{all_drink.tilte12}}</h4>
                                    <p>{{all_drink.contant12}}</p>
                                    <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                     <img src="{{all_drink.img7.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte6_image}}</font></img>
                                    </div>
                                    <br>
                                    <p>{{all_drink.contant13}}</p>
                                    <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                     <img src="{{all_drink.img6.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte5_image}}</font></img>
                                    </div>
                                    <br>


                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                {% endif %}


                {% if all_drink.slug == 'rock-stars-turned-wine-makers'  %}

                <title>{{all_drink.tilte}}</title>
                    <div class="site-wrap" id="home-section">
                      <div class="site-mobile-menu site-navbar-target">
                        <div class="site-mobile-menu-header">
                          <div class="site-mobile-menu-close mt-3">
                            <span class="icon-close2 js-menu-toggle"></span>
                          </div>
                        </div>
                        <div class="site-mobile-menu-body"></div>
                      </div>
                      <div class="block__73694 site-section border-top" id="why-us-section">
                        <div class="container">
                          <div class="row d-flex no-gutters align-items-stretch">
                            <div class="col-12 col-lg-6 block__73422 order-lg-2" style="background-image:" data-aos="fade-left" data-aos-delay="">
                            <h5>Published on {{all_drink.create}}</h5>
                             <img src="{{all_drink.img1.url}}" width=500px>
                            </div>
                            <div class="col-lg-5 mr-auto p-lg-9 mt-4 mt-lg-0 order-lg-1" data-aos="fade-right" data-aos-delay="">
                              <h2 class="mb-4 text-black">{{all_drink.tilte}}</h2>
                              <h4 class="text-primary">{{all_drink.tilte2}}</h4>
                              <p>{{all_drink.contant1}}</p>

                              <br>
                              <h4 class="mb-4 text-black">{{all_drink.tilte3}}</h4>
                              <p>{{all_drink.contant2}}</p>
                              <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                               <img src="{{all_drink.img2.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte1_image}}</font></img>
                              </div>

                              <br>
                              <h4 class="mb-4 text-black">{{all_drink.tilte4}}</h4>
                              <p>{{all_drink.contant3}}</p>
                              <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                               <img src="{{all_drink.img3.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte2_image}}</font></img>
                              </div>
                              <br>

                              <br>
                                <h4 class="mb-4 text-black">{{all_drink.tilte5}}</h4>

                                  <p>{{all_drink.contant5}}</p>
                                  <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                   <img src="{{all_drink.img4.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte3_image}}</font></img>
                                  </div>

                                  <br>
                                  <h4> {{all_drink.tilte6}}</h4>
                                    <p>{{all_drink.contant6}}</p>
                                    <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                     <img src="{{all_drink.img5.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte4_image}}</font></img>
                                    </div>


                                    <br>
                                    <h4> {{all_drink.tilte7}}</h4>
                                      <p>{{all_drink.contant7}}</p>
                                      <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                       <img src="{{all_drink.img6.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte5_image}}</font></img>
                                      </div>
                                      <br>
                                      <h4> {{all_drink.tilte8}}</h4>
                                      <p>{{all_drink.contant8}}</p>
                                      <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                       <img src="{{all_drink.img7.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte6_image}}</font></img>
                                      </div>
                                      <br>
                                      <h4> {{all_drink.tilte9}}</h4>
                                      <p>{{all_drink.contant9}}</p>
                                      <div class="col-12 col-lg-18 block__73422 order-lg-8" style="background-image:" data-aos="fade-left" data-aos-delay="">
                                       <img src="{{all_drink.img8.url}}" width=500px alt=""><font color="Purple">{{all_drink.tilte7_image}}</font></img>
                                      </div>
                                      <br>
                                        <p>{{all_drink.contant10}}</p>
                                        <br>


                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  {% endif %}





{% endblock %}
